@import "mixins";

@import "icons"; // icons!
@import "global"; // global items
@import "framework"; // pieces of the layout that make up large parts - header, nav, shield, content wrappers
@import "pages";
@import "forms";

/***
  * FONTS
  ***/

$mainFont: Arial, Helvetica, sans-serif;
$headerFont: $mainFont;

// CUSTOM FONTS
@font-face {
  font-family: "greengrotto";
  src:url("fonts/greengrotto.eot");
  src:url("fonts/greengrotto.eot?#iefix") format("embedded-opentype"),
    url("fonts/greengrotto.woff") format("woff"),
    url("fonts/greengrotto.ttf") format("truetype"),
    url("fonts/greengrotto.svg#greengrotto") format("svg");
  font-weight: normal;
  font-style: normal;
/*
  content: "\61"; // news
  content: "\62"; // camera
  content: "\63"; // new
  content: "\64"; // cup
  content: "\65"; // food
  content: "\66"; // location
  content: "\67"; // trophy
  content: "\68"; // user
  content: "\69"; // search
  content: "\6a"; // leaf
  content: "\6b"; // heart
  content: "\6c"; // heartbreak
  content: "\6d"; // half-star
  content: "\6e"; // star
  content: "\6f"; // history
  content: "\70"; // settings
*/
}

// END CUSTOM FONTS

@import "fonts-styles";

/***
  * COLOURING
  ***/

$main: #009944;
$white: #FFFFFF;
$black: #1f140a;
$darkGrey: #323031;
$lightGrey: #d0d2d3;
$alertRed: #FF0000; // new! fav!

@import "colours-default";

// CUSTOM COLOURS
$shortcutBKG: rgba($white, 0.25);
$rewardBarBKG: $main;

$liner: $white;
$linerShadow: transparent;
$header: $white;
$headerBKG: $main;
$openMenu: $main;
$openMenuBKG: $white;
$headerScanDots: $white;
$cartQuantity: $white;

$welcome: $white;
$welcomeBKG: $black;

$shortcut: $white;
$shortcutBKG: $black;
$shortcutBar: $main;

$rewardIcon: $white;
$rewardIconBKG: $black;

$top10BKG: rgba($black, 0.8);
$top10Details: $white;
$top10DetailsBKG: $main;

$selectedRegion: $white;
$selectedRegionBorder: $white;
$productNameBKG: $black;
$reviewTextarea: $black;

$innerLiBKG: rgba($black, 0.25);
// END CUSTOM COLOURS

@import "colours-styles";

/***
  * CUSTOM STYLING
  ***/
.icon[rel="gift"] {
  position: absolute;
  left: 0;
  top: 0;
  height: 12.5vmin;
  width: 12.5vmin;
  font-size: 12.5/2vmin;
  line-height: 12.5vmin;
  text-align: center;
}
.icon[rel="concierge"]:before,
.icon[rel="calendar"]:before,
.icon[rel="gift"]:before {
  z-index: 1;
  position: relative;
  font-family: "Font Awesome 5 Pro" !important;
  z-index: 99;
  font-size: 16px;
  content: "\f06b";
  top: -2px;
}
.icon[rel="concierge"]:before {
  content: "\f562";
  font-size: 14px !important;
  font-weight: bold;
}
.icon[rel="calendar"]:before {
  content: "\f073";
  font-size: 14px !important;
}

.icon[rel="shop"]:before,
.icon[rel="food"]:before {
  font-family: "trueblue" !important;
  font-size: 14px !important;
}
.icon[rel="products"]:before {
  position: relative;
  z-index: 99;
  font-size: 16px;
}
.icon[rel="gift"]:after,
.icon[rel="products"]:after {
  font-family: "greengrotto";
  color: #009944;
  content: "\6a";
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.content { // no-repeat, cover, center center, fixed
  background-image: url('../background.jpg');
}
.loader .content {
  background-image: url('../splash_7201280.png');
  background-position: center center;
}
.ENG .shortcuts.col_4.w_text {
  font-size: 8px;
}
.CHI .banner .month {
  font-size: 2.5vw;
}

.overrideBlock {
  display: block !important;
}
nav#header {
  box-shadow: none;
  .icon[rel="menu"] {
    font-size: 20px;
  }
}
.icon[rel="trueblue-line"]:before {
  color: #FFF !important;
}
.welcome {
  box-shadow: none;
}
body.news .shortcuts>a span {
  display: none;
}
.rewards .content>.wrapper .progress_bar .icon[rel="rewards"] {
  font-size: 70px;
}
.icon.w_pic:after {
  display: none !important;
}
.products .product_name, .favourites .product_name, .gallery .product_name, .top10 .product_name {
  text-transform: capitalize;
  font-size: 14px;
}
.shortcuts.col_4.combo_34 div.right .rating[rating]>.icon, .shortcuts.col_4.combo_34 div.right .rating .icon {
  font-size: 6vw;
}
div.rating .base .icon {
  opacity: 0.3;
}
.top10 {
  div#header {
    background: none;
  }
  .content .wrapper {
    padding: 0 10px;
  }
  .shortcuts {
    padding: 0;
    > a {
      background-color: rgba($black, 0.8);
    }
  }
}
.products ul li.w_pic .product_name {
  background: rgba($black, 0.55);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 9;
  font-size: 15px;
}
.selectedRegion.notice {
  border-top: 1px solid #FFF;
}
li[name="region"] {
  display: none;
}
body.locations {
  article {
    .inner {
      .header {
        h4 {
          font-size: 20px;
        }
        h5 {
          font-size: 16px;
        }
      }
    }
    h4 span {
      font-size: 15px;
      font-weight: 300;
      color: $lightGrey;
    }
  }
}
.rewards .content>.wrapper .welcome+.progress_bar {
  background: $black;
}

/*** ICONS ***/
nav#menu {
  #pages > li {
    .icon:before, .icon:after {
      font-size: 120%;
    }
  }
}
.icon[rel="news"]:before,
.icon[rel="drink"]:before,
.icon[rel="top10drink"]:before,
.icon[rel="top10food"]:before,
.icon[rel="locations"]:before,
.icon[rel="rewards"]:before,
.icon[rel="leaderboard"]:before,
.icon[rel="user"]:before,
.icon[rel="search"]:before,
.icon[rel="heart"]:before,
.icon[rel="heartbreak"]:before,
.icon[rel="half-star"]:before,
.icon[rel="star"]:before,
section#forms.user>.icon:before,
nav#menu #pages > li .icon:before,
.icon[rel="email"]:before,
.icon[rel="web"]:before,
.icon[rel="phone"]:before,
.icon[rel="history"]:before,
.icon[rel="settings"]:before {
  font-family: "greengrotto";
  z-index: 1;
  position: relative;
}
.icon[rel="share"]:before {
  z-index: 1;
  position: relative;
}
.icon[rel="news"]:after,
.icon[rel="drink"]:after,
.icon[rel="top10drink"]:after,
.icon[rel="top10food"]:after,
.icon[rel="locations"]:after,
.icon[rel="rewards"]:after,
.icon[rel="leaderboard"]:after,
.icon[rel="user"]:after,
.icon[rel="share"]:after,
nav#menu #pages > li .icon:after {
  font-family: "greengrotto";
  color: $main;
  content: "\6a";
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}
.shortcuts .icon[rel="drink"]:after,
.shortcuts .icon[rel="top10drink"]:after,
.shortcuts .icon[rel="locations"]:after,
.shortcuts .icon[rel="top10food"]:after {
  top: 10%;
}
.icon[rel="news"]:before {
  content: "\61";
}
.icon[rel="drink"]:before {
  content: "\63";
}
.icon[rel="top10drink"]:before {
  content: "\64";
}
.icon[rel="top10food"]:before {
  content: "\65";
}
.icon[rel="locations"]:before {
  content: "\66";
}
.icon[rel="rewards"]:before,
.icon[rel="leaderboard"]:before {
  content: "\67";
}
section#forms.user>.icon:before,
.icon[rel="user"]:before {
  content: "\68";
}
.icon[rel="search"]:before {
  content: "\69";
}
.icon[rel="heart"]:before {
  content: "\6b";
}
.icon[rel="heartbreak"]:before {
  content: "\6c";
}
.icon[rel="half-star"]:before {
  content: "\6d";
}
.icon[rel="star"]:before {
  content: "\6e";
}
.icon[rel="history"]:before {
  content: "\6f";
}
.icon[rel="settings"]:before {
  content: "\70";
}
.icon[rel="email"]:before {
  content: "\71";
}
.icon[rel="web"]:before {
  content: "\72";
}
.icon[rel="phone"]:before {
  content: "\73";
}
.searchBar_wrapper .icon {
  color: $black;
}
.shortcuts.col_4.w_text .icon {
  font-size: 14vw;
  .top10 & {
    font-size: 9vw;
  }
}
.userPanel .icon[rel="user"] {
  background: $black;
  &:before {
    color: $white;
  }
}
div.rating {
  &[rating="0.5"] {
    > .icon:nth-child(1):before { content: "\6d"; } }
  &[rating="1.5"] {
    > .icon:nth-child(2):before { content: "\6d"; } }
  &[rating="2.5"] {
    > .icon:nth-child(3):before { content: "\6d"; } }
  &[rating="3.5"] {
    > .icon:nth-child(4):before { content: "\6d"; } }
  &[rating="4.5"] {
    > .icon:nth-child(5):before { content: "\6d"; } }
}
