<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Javascript Variables for TrueBlue App -->
    <script type="text/javascript">
      var server = null;
      var APIversion = "v1.5";

      var clientId = 3;
      var GCMSenderID = "568840110114"; // Project Number

      var stripePublicKey = null;// "pk_test_Bx0uhYEL5Iyt1KmK8pJ684xX";

      var preload = ["news", "products", "categories", "locations", "rewards"];
      var showLimit = 5;

      var backIcon = "drink"; // food // products // shop // shopping

      var backTitle = "Menu"; // Food // Products // Menu
      var backTitleFR = "Menu"; // Aliments // Produits // Menu
      var backTitleCH = "菜單"; // Aliments // Produits // Menu

      var backSearch = "the menu";
      var backSearchFR = "le menu";
      var backSearchCH = "菜單";

      var customMessageArray = {
        newArrivals: "New Arrivals",
        newShortcut: "New",
        top10Drink: "Top Drinks",
        top10Food: "Top Food",
        top10ShortcutFood: "Food",
        top10ShortcutDrink: "Drinks",
        theWall: "The Wall",
        socialMedia: "Social Media",
      };
      var customMessageArrayFR = {
      };
      var customMessageArrayCH = {
        newArrivals: "新品推薦",
        newShortcut: "新品",
        top10Drink: "喝的排行榜",
        top10Food: "吃的排行榜",
        top10ShortcutFood: "食物",
        top10ShortcutDrink: "飲品",
        theWall: "塗鴉墻",
        socialMedia: "社群",
      };
      //Restaurant 餐廳版(Warden & Steeles Location)
      //Tea Shop 輕食版
    </script>

    <!-- Uncomment for App -->
    <script> server = "live"; </script>

    <meta http-equiv="Content-Security-Policy" content="default-src * gap://ready file:; style-src 'self' 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Green Grotto</title>
  </head>

  <body class="{{currentParent}} {{selectedLanguage}}" ng-class="{'activeOrder': activeOrders}" onload="onLoad()">
    <a id="orders" ng-if="activeOrders" href="#/orders/">
      <div class="order_status" ng-repeat="va in activeOrders track by $index | limitTo:1" ng-bind-html="orderStatusText(va);"></div>
      <div class="icon" rel="right"></div>
    </a>

    <nav id="header" nav-header icon-image="logo.png"></nav>

    <nav id="menu" ng-if="done">
      <ul ng-if="!userDetails && clientInfo" ng-show="showLoginInNav && clientInfo && clientInfo.account_flag == 1" id="console" user-forms></ul>
      <ul id="pages" ng-hide="showLoginInNav">
        <div menu-top></div>
        <li>
          <a href="#/news/" ng-class="currentParent == 'news' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="news"></div>
            {{text.menuNews}}
          </a>
          <div class="liner width"></div>
        </li>
        <li>
          <a href="#/products/m356/" ng-class="currentParent == 'products 356' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="{{::backIcon}}"></div>
            {{text.custom.newArrivals}}
          </a>
          <div class="liner width"></div>
        </li>
        <!-- <li ng-if="clientInfo && clientInfo.review_flag == 1">
          <a href="#/products/m358/" ng-class="currentParent == 'products 358' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="top10drink"></div>
            {{text.custom.top10Drink}}
          </a>
          <div class="liner width"></div>
        </li>
        <li ng-if="clientInfo && clientInfo.review_flag == 1">
          <a href="#/products/m357/" ng-class="currentParent == 'products 357' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="top10food"></div>
            {{text.custom.top10Food}}
          </a>
          <div class="liner width"></div>
        </li> -->
        <li>
          <a href="#/products/m357/" ng-class="currentParent == 'products 357' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="food"></div>
            Menu
          </a>
          <div class="liner width"></div>
        </li>
        <li>
          <a href="#/products/m357/" ng-class="currentParent == 'products 357' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="shop"></div>
            Orders
          </a>
          <div class="liner width"></div>
        </li>
        <li ng-if="clientInfo && clientInfo.location_count > 1">
          <a href="#/locations/" ng-class="currentParent == 'locations' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="locations"></div>
            {{text.menuLocations}}
          </a>
          <div class="liner width"></div>
        </li>
        <li ng-if="clientInfo && clientInfo.location_count == 1">
          <a href="#/locations/{{::clientInfo.location_id}}/" ng-class="currentParent == 'locations' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="locations"></div>
            {{text.menuLocation}}
          </a>
          <div class="liner width"></div>
        </li>
        <li>
          <a href="#/rewards/" ng-class="currentParent == 'rewards' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="leaderboard"></div>
            {{text.menuRewards}}
          </a>
          <div class="liner width"></div>
        </li>
        <li>
          <a href="#/rewards/" ng-class="currentParent == 'rewards' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="concierge"></div>
            Table Service
          </a>
          <div class="liner width"></div>
        </li>
        <li>
          <a href="#/locations/{{::clientInfo.location_id}}/" ng-class="currentParent == 'locations' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="calendar"></div>
            Reservations
          </a>
        </li>
<!--
        <li>
          <a href="#/leaderboard/{{(selectedRegion) ? selectedRegion+'/' : ''}}" ng-class="currentParent == 'leaderboard' ? 'selected' : ''" ng-click="closeMenu($event)">
            <div class="icon" rel="leaderboard"></div>
            {{text.menuLeaderboard}}
          </a>
          <div class="liner width" ng-if="pages.length > 0"></div>
        </li>
-->
        <li ng-repeat="page in pages track by $index">
          <a href="#page/{{::page.id}}/" ng-class="{'selected' : currentParent == '{{::page.label | getTranslation:'ENG' | lowercaseTrim}}', 'noicon' : !page.icon || page.icon == ''}" ng-click="closeMenu($event)">
            <div class="icon" rel="{{::page.icon}}" ng-if="page.icon"></div>
            <span ng-bind-html="page.label | getTranslation:selectedLanguage"></span>
          </a>
          <div class="liner width" ng-hide="$index == pages.length-1"></div>
        </li>

        <div menu-bottom></div>
      </ul>
    </nav>

    <section id="forms" ng-if="done || overrideShowQR" ng-class="{'overrideBlock' : overrideShowQR}" all-forms></section>


    <!-- OFFLINE STUFF -->
    <div class="offline" ng-show="offline" offline-qr></div>
    <div id="shield" class="offline shield" ng-show="offline"></div>
    <!-- END OFFLINE STUFF -->


    <div id="shield" class="shield" ng-click="closeMenu($event);"></div>

    <section class="content" ng-view></section>

    <!-- Styles -->
    <link href="css/styles.css" rel="stylesheet" type="text/css" />

    <!-- Stripe -->
    <script>
      if (stripePublicKey) {
        async('https://js.stripe.com/v2/', function() {
          Stripe.setPublishableKey(stripePublicKey);
        });
      }
      if (server === "live") {
        async('cordova.js', function() {
          console.log("cordova.js loaded");
        });
      } else {
        console.log("do not load cordova.js");
      }
    </script>

    <!-- TrueBlue Scripts -->
    <script type="text/javascript" src="js/trueBlue.other.min.js"></script>
    <script type="text/javascript" src="js/trueBlue.angular.min.js"></script>
    <script type="text/javascript" src="js/trueBlue.app.min.js"></script>
    <script type="text/javascript" src="js/trueBlue.override.js"></script>

    <!-- Inline JS -->
    <script type="text/javascript">
      // init for redundancy
      openFB.init({appId: '1523899957830230', tokenStore: window.localStorage});

      function onLoad() {
        // testing.
        if (server != "live") {
          setTimeout(function() {
            console.log("dev deviceready");
            onDeviceReady();
          }, 1000);
        } else {
          console.log("onLoad");
          document.addEventListener("deviceready", onDeviceReady, false);
        }
      }
    </script>
  </body>
</html>
